<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CidadeController</servlet-name>
        <servlet-class>Controller.CidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Correspond_topicoController</servlet-name>
        <servlet-class>Controller.Correspond_topicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoencaController</servlet-name>
        <servlet-class>Controller.DoencaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstituicaoController</servlet-name>
        <servlet-class>Controller.InstituicaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicoController</servlet-name>
        <servlet-class>Controller.TopicoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UfController</servlet-name>
        <servlet-class>Controller.UfController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>Controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VacinaController</servlet-name>
        <servlet-class>Controller.VacinaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vacina_DoencaController</servlet-name>
        <servlet-class>Controller.Vacina_DoencaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CidadeController</servlet-name>
        <url-pattern>/CidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Correspond_topicoController</servlet-name>
        <url-pattern>/Correspond_topicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoencaController</servlet-name>
        <url-pattern>/DoencaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstituicaoController</servlet-name>
        <url-pattern>/InstituicaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicoController</servlet-name>
        <url-pattern>/TopicoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UfController</servlet-name>
        <url-pattern>/UfController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VacinaController</servlet-name>
        <url-pattern>/VacinaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vacina_DoencaController</servlet-name>
        <url-pattern>/Vacina_DoencaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
